[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-lambda-powertools[tracer]" = "*"
requests = "*"

[dev-packages]
boto3 = "*"
boto3-stubs = "*"
pytest = "*"
pytest-cov = "*"
python-gnupg = "*"

[requires]
python_version = "3.9"
